body{
    background-color: rgb(214, 210, 176);
}

form input{
    display: block;
    margin-bottom: 10px;
}
form select {
    display: block;
    margin-top:5px;
    margin-bottom: 10px;
}
form label{
    font-weight: bold;
}
#opdrachtInput{
    background-color: rgb(206, 228, 125);
    width:15%;
    display: inline-block;
}
#opdrachtInput h3{
    color:rgb(23, 38, 243);
}

#keuringInput {
    background-color: rgb(154, 175, 207);
    width: auto;
    display: inline-block;
}

#keuringInput h3 {
    color: rgb(59, 62, 102);
}