html{
    background-color: #FFF2CC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Inlog formulier*/
form label{
    display: block;
    font-weight: bold;
}
form input{
    display: block;
}
form button{
    margin-top:5%;
    background-color: rgba(0, 128, 0, 0.664);
    color:white;
    cursor: pointer;
}
.login{
    display: block;
    position: absolute;
    left:2%;
    top:5%;
}

.login form input{
    margin-top: 5%;
    margin-bottom: 5%;
}

form.addUser button{
    margin-top:1.5%;
}

form.keuring label{
    display: block;
    font-weight: bold;
    margin-bottom: 1%;
}
form.keuring label:first-child {
    margin-top: 3%;
}
form.keuring input {
    display: block;
    margin-bottom: 2%;
}
form.keuring select{
     display: block;
     margin-bottom: 2%;
}
form.keuring .formTile{
    display:none;
    position: relative;
    top:0%;
    width:32%;
}
form.keuring .formTile:first-child{
    margin-left:1%;
}
form.keuring .formTitle{
    cursor: pointer;
    border: 1px solid black;
    background:#F6C35C;
}
form.keuring .formTitle h2 {
    margin-left: 1%;
}
form.keuring .formTitle:hover{
    background: rgb(64, 179, 207);
}

form.keuring textarea{
    display: block;
    margin-bottom: 2%;
    margin-top: 2%;
}

form.keuring button{
    float:right;
    padding:1%;
}
form.keuring button:hover {
    background: rgb(0, 128, 0);
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li{
    display: inline;
    position: relative;
    top:0%;
}
#typeOfTest{
    display: none;
}
/* Logo */
#logo {
    width: auto;
    min-height: 5%;
    height: auto;
    background: url(../images/Logo.png);
    background-repeat: no-repeat;
    background-size: contain;
}
/* Home page test keuze */
.option{
    width:45%;
    height:35%;
    cursor: pointer;
    display: inline-block;
    margin-right:3%;
    border: 2px solid black;
    border-radius: 12px;
}
.option:hover{
    border: 2px solid white;
}
.choices{
    width:45%;
    margin-left: 475.605px;
}

#kabeltest{
    background: url(../images/kabeltest.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#kabeltest:hover {
    background: url(../images/kabeltestActief.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#hijstest {
    background:url(../images/hijstest.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#hijstest:hover{
    background: url(../images/hijstestActief.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#gebruikerToevoegen{
    background: url(../images/gebruikerToevoegen.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#gebruikerToevoegen:hover {
    background: url(../images/gebruikerToevoegenActief.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
/* Content sizing & verdeling */
.contentBox{
    width:100%;
    min-height:10%;
    height:auto;
    display: block;
}
.contentBox.form {
    min-height: auto;
}
 .contentBox .contentTile {
     position: relative;
     height:auto;
     width:33%;
     display: inline-block;
 }
 .contentBox .contentTile20 {
     position: relative;
     height: auto;
     width: 20%;
     display: inline-block;
 }
 .contentBox .contentTile25 {
     position: relative;
     height: auto;
     width: 25%;
     display: inline-block;
 }
 .contentBox .contentTile .pageTitle{
     text-align: center;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 /* Navigatie */
 #nav .route{
     color:black;
     background-color: azure;
     text-decoration: none;
     border: 1px solid black;
     padding:1%;
     margin-right:0.1%;
 }
 #nav .route:hover{
     color:black;
     background-color: rgb(171, 243, 219);
 }

 /* Overzichten */
 table{
     display: table;
     border:1px solid black;
 }
table tr:nth-child(even){
    background-color: rgb(165, 157, 157);
    cursor: pointer;
}
table tr:nth-child(odd) {
    background-color: rgb(180, 164, 164);
    cursor: pointer;
}
table tr:first-of-type{
    background-color: black !important;
    color:white;
    font-weight: bold;
    cursor: default;
}
 table th{
    border: 1px solid black;
 }
 table td {
     border: 1px solid black;
 }